<form name="addForm" [formGroup]="addForm" novalidate>
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <div class="ui-g-3">
        <label>Question</label>
      </div>
      <div class="ui-g-9">
        <input pInputText formControlName="questionLabel" type="text" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-3">
        <label>Réponse</label>
      </div>
      <div class="ui-g-9">
        <textarea [rows]="25" pInputTextarea autoResize="autoResize" formControlName="responseLabel"></textarea>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-3">
        <label>Tags</label>
      </div>
      <div class="ui-g-9">
        <p-chips formControlName="tags"></p-chips>
        <p class="text-anotate">Appuyer sur "entrer" pour ajouter votre tag.</p>
      </div>
    </div>
  </div>
</form>
