<div class="administration-content">
  <div class="administration-header">
    <h3>Ajouter une nouvelle question / réponse</h3>
  </div>
  <div class="administration-body">
    <app-administration-add-form></app-administration-add-form>
    <div class="action-add-question">
      <button pButton type="button" label="Ajouter" class="ui-button-secondary"
              [disabled]="addFormComponent.addForm.invalid"
              (click)="onAddQuestion()"
              *ngIf="!isLoading; else loader">

      </button>
      <ng-template #loader>
        <span class="message-info">Ajout en cours...</span>
      </ng-template>
    </div>
  </div>
</div>
