<p-dialog header="Mot de passe oublié" [width]="320" [(visible)]="isDisplay">
  <form [formGroup]="forgivenForm" novalidate>
    <div class="ui-g ui-fluid">
      <div class="ui-g-12">
        <span class="ui-float-label">
          <input id="forget" type="email" formControlName="email" pInputText>
          <label for="forget">Votre email</label>
        </span>
      </div>
      <div class="ui-g-12">
        <div class="message-success" *ngIf="isSendSuccess">
          <p>Vous allez recevoir un email avec votre nouveau mot de passe provisoire.</p>
        </div>
        <div class="message-error" *ngIf="isSendError">
          <p>Une erreur est survenue lors de l'envoi de votre nouveau de passe. Veuillez réessayer.</p>
        </div>
      </div>
    </div>
  </form>
  <p-footer>
    <button type="button" class="ui-button-info"
            pButton icon="fa-check"
            label="Envoyer"
            [disabled]="forgivenForm.invalid"
            (click)="send()">

    </button>
    <button type="button" class="ui-button-secondary"
            pButton icon="fa-close"
            (click)="close()"
            label="Fermer">

    </button>
  </p-footer>
</p-dialog>

